body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    /*background-color: rgb(180, 238, 219);*/
    background: url(./img/флаг\ испания.jpg); 
    background-repeat: no-repeat;
    background-position: center top;
}
img{
    width: 350px;
    height: 250px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
a {
    color: rgb(86, 233, 18);
}

a:hover {
    color: darksalmon;

}